@font-face {
    font-family: Medel;
    src: url("resources/Medel.ttf");
}
html{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
body{

    background-image: url("resources/pexel.jpg") ;
    background-size: cover;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "medel", Arial;
    margin: 0;
    padding: 5em;
}

button{
    font-family: "medel", "ariel";
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:auto;
    padding:.5em;
    min-width: max-content;
    max-width: 75%;
    width: fit-content, -webkit-fit-content, -moz-fit-content;
    background-color:rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    text-align: center;
}

@media (min-width: 1024px){
    #main h1{
        font-size: 5rem;
    }
}

#main h1{
    color: whitesmoke;
    font-size: 3rem;
}
#content{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: space-evenly;
    margin : 0 auto;
    max-width: 75%;
    gap: 0.5rem;
    width: 100%;
}


#addnew form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    /* margin: 0.5rem auto; */
}
#addnew label{
    display: block;
    font-weight: bolder;
    font-size: 1.5rem;
}
#addnew input{
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    justify-content: center;
    border-radius: 5px;
    border: 0;
}
#addnew input.text{
    width: 58%;
}
#add{
    color: white;
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    border-radius: 5px;
    margin: auto;
    padding: 1rem;
    width: max-content, -webkit-max-content, -moz-max-content;
    border: 0;
}
#add:hover{
    background-color: rgba(0,0,0,0.3);
}
#add:active{
    background-color: rgba(0,0,0,0.9);
}

#listdiv{
    display: table;
}
ul{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    list-style-type: none;
    padding: 0;
}
#list li{
    display: inline-flex;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    background-color: white;
    border-bottom: 1px solid grey;
    color: black;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
    font-size: .8em;
}
#list li:hover{
    background-color: rgba(255,255,255,0.8);
}
#list li.done {
    color: grey;
    text-decoration: line-through;
    order: -1;
}
#list li:active{
    background-color: rgba(255,255,255,0.6);
}

li button{
    justify-self: flex-end;
    align-self: flex-end;
    flex-shrink: 1;
}

.danger{
    background-color: rgba(255,0,0,0.8);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    padding: 3% 5%;
    margin: 0 auto;

    font-weight: bolder;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
}
.danger:hover{
    background-color: rgba(255,0,0,0.6);
}
.danger:active{
    background-color: rgba(100,0,0,0.9);
}
.text{
    display: flex;
    gap: 1rem;
}
