@font-face {
    font-family: Medel;
    src: url("resources/Medel.ttf");
}
body{

    background-image: url("resources/pexel.jpg") ;
    background-size: cover;
    min-height: 100vh;
    font-family: "medel", Arial;
    margin: 0;
}

button{
    font-family: "medel", "ariel";
}

#main{
    display: flex;
    flex-direction: column;
    margin:50px 50px;
    padding:5vh 5%;
    max-width: 90%;
    background-color:rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    text-align: center;
}

@media (min-width: 600px){
    #main{
        max-width: 60vw;
    }
}
@media (min-width: 1024px){
    #main{
        max-width: 50vw;
    }
    #main h1{
        font-size: 7rem;
    }
}

#main h1{
    color: whitesmoke;
    font-size: 5rem;
}
#content{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: space-evenly;
    margin : 0 auto;
    width: 75%;
}

#content form{
    margin-bottom: 2rem;
}

#addnew label, #addnew input, #addnew button{
    margin : 0.5rem auto;
}
#addnew label{
    display: block;
    font-weight: bolder;
    font-size: 2rem;
}
#addnew input{
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    justify-content: center;
    border-radius: 5px;
    border: 0;
    width: 85%;
}
#add{
    color: white;
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    border-radius: 5px;
    border: 0;
}
#add:hover{
    background-color: rgba(0,0,0,0.3);
}
#add:active{
    background-color: rgba(0,0,0,0.9);
}

#listdiv{
    display: table;
}
ul{
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    margin: 0 0 2rem 0;
    padding: 0;
}
#list li{
    display: inline-flex;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    background-color: white;
    border-bottom: 1px solid grey;
    color: black;
    justify-content: center;
    padding: 7% ;
    font-size: 2rem;
}
#list li:hover{
    background-color: rgba(255,255,255,0.8);
}
#list li.done {
    color: grey;
    text-decoration: line-through;

}
#list li:active{
    background-color: rgba(255,255,255,0.6);
}

li button{
    justify-self: flex-end;
    align-self: flex-end;
    flex-shrink: 1;
}
button img{
    height: 3vw;
    width: auto;
}


.danger{
    background-color: rgba(255,0,0,0.8);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    padding: 5%;
    margin: 10px auto;
    font-weight: bolder;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
}
.danger:hover{
    background-color: rgba(255,0,0,0.6);
}
.danger:active{
    background-color: rgba(100,0,0,0.9);
}
