@font-face {
    font-family: Medel;
    src: url("resources/Medel.ttf");
}
body{

    background-image: url("resources/pexel.jpg") ;
    background-size: cover;
    min-height: 100vh;
    font-family: "medel", Arial;
    margin: 0;
}

#main{
    display: flex;
    flex-direction: column;
    margin:50px 50px;
    padding:5vh 5%;
    background-color:rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    text-align: center;
}
#main h1{
    color: whitesmoke;
    font-size: 10vw;
}
#content{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-content: space-between;
    justify-content: center;
    margin-bottom: 50px;
    width: 75vw;
}
#addnew label{
    display: block;
    font-weight: bolder;
    font-size: 3vw;
}
#addnew input{
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    display: inline-block;
    padding: 20px 20px;
    margin: 30px 0;
    font-size: 2vw;
    justify-content: center;
    border-radius: 5px;
    border: 0;
}
#add{
    color: white;
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    border-radius: 5px;
    border: 0;
}
#add:hover{
    background-color: rgba(0,0,0,0.3);
}
#add:active{
    background-color: rgba(0,0,0,0.9);
}

#listdiv{
    display: table;
}
ul{
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
}
#list li{
    display: inline-flex;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
    background-color: white;
    border-bottom: 1px solid grey;
    color: black;
    justify-content: center;
    padding: 7% ;
    font-size: 3vw;
}
#list li:hover{
    background-color: rgba(255,255,255,0.8);
}
#list li.done {
    color: grey;
    text-decoration: line-through;

}
#list li:active{
    background-color: rgba(255,255,255,0.6);
}

li button{
    justify-self: flex-end;
    align-self: flex-end;
    flex-shrink: 1;
}
button img{
    height: 3vw;
    width: auto;
}


.danger{
    background-color: rgba(255,0,0,0.8);
    color: white;
    font-family: Medel;
    font-size: 3vw;
    border-radius: 5px;
    border: 0;
    padding: 5%;
    margin: 10px auto;
    font-weight: bolder;
    box-shadow: 3px 3px 15px 4px rgba(0, 0 ,0, 0.2);
}
.danger:hover{
    background-color: rgba(255,0,0,0.6);
}
.danger:active{
    background-color: rgba(100,0,0,0.9);
}
footer{
    justify-self: flex-end;
    margin-top: 30px;
}
footer a{
    color: whitesmoke;
}